:root {
  /* Fonts and typography*/
  --main-font: "Roboto", system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --secondary-font: "Raleway", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Colors */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  /* Color scheme */
  --color-primary-brand: var(--iris);
  --color-pressed-state: var(--ocean);
  --color-dark: var(--navy-blue);
  --color-success: var(--green);
  --color-text: var(--slate);
  --color-subtle-text: var(--light-slate);
  --color-accent: var(--cornflower);
  --color-light: var(--cloud);
  --color-modal-overlay: var(--navy-blue-modal);
  --color-hero-background: var(--grey);
  --color-white-background: var(--white);
  --color-modal-background: var(--dairy);
}

/**
  |============================
  | Preset styles
  |============================
*/
a {
  text-decoration: none;
}

ul {
  padding: 0;

  list-style: none;
}

address {
  font-style: normal;
}

/**
  |============================
  |  Default styles
  |============================
*/
body {
  font-family: var(--main-font);
  line-height: calc(24/16);
  letter-spacing: 0.02em;
  color: var(--color-text)
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
}

/* Header 1 */
h1 {
  font-size: 56px;
  line-height: calc(60/56);
  color: var(--white);
  text-align: center;
}

/* Header 2 */
h2 {
  font-size: 36px;
  line-height: calc(40/36);
  text-align: center;
}

/* Header 3 */
h3 {
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  line-height: calc(24/20);
}

/**
  |============================
  | Components
  |============================
*/
/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  line-height: calc(21/18);
  letter-spacing: 0.03em;
  color: var(--color-primary-brand);
  text-transform: uppercase;
}

.dark {
  color: var(--color-dark);
}

.light {
  color: var(--color-light);
}

/* Button */
.btn {
  font-weight: var(--font-weight-medium);
  line-height: calc(24/16);
  letter-spacing: 0.04em;
  color: var(--white);

  background-color: var(--color-primary-brand);

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-pressed-state);
}

/* Link */
.link {
  color: var(--color-text);
}

.link:hover,
.link:focus {
  color: var(--color-pressed-state);
}

/**
  |============================
  | Page header
  |============================
*/
/* Navigation page */
.page-nav .link {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  color: var(--color-dark);
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: var(--color-pressed-state);
}

/**
  |============================
  | Hero section
  |============================
*/
.hero-section {
  background-color: var(--color-dark);
}

/**
  |============================
  | Advantages section
  |============================
*/

/**
  |============================
  | Team section
  |============================
*/
.section-team {
  background-color: var(--color-light);
}

/**
  |============================
  | Portfolio section
  |============================
*/

/**
  |============================
  | Page-footer
  |============================
*/
.page-footer {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/* =====================
Utility style
===================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
